# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel deployment folder
.vercel/
